5to Semestre/Taller de Base de Datos/Proyecto de Taller de Base de Datos
6to Semestre/Lenguajes y Automatas 2/Cuadruplos
6to Semestre/Lenguajes y Automatas 2/calculoConjuntoPrimero
6to Semestre/Lenguajes y Automatas 2/Practicas-LyA-1
6to Semestre/Taller de Sistemas Operativos
6to Semestre/Ingeniería de Software